<ion-header>
  <ion-toolbar>
    <ion-title>player</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>Select Player to explore</strong>
    <div>
      <ion-button  expand="block" color="primary" routerLink="/player/contentslist">Pdf</ion-button>
    </div>
    <div>
      <ion-button  expand="block" color="primary" routerLink="/player/contentslist">Video</ion-button>
    </div>
    <div>
      <ion-button  expand="block" color="primary" routerLink="/player/contentslist">Epub</ion-button>
    </div>
  </div>
</ion-content>
