<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Players
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Players</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to explore Players?</strong>
   <div> 
     <ion-button color="primary" (click)="openLink()">Explore</ion-button>
     </div>
  </div>
</ion-content>
